* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --travelersRed: #f50002;
    --digitalRed: #e01719;
    --darkRed: #af1214;
    --carbon: #46494d;
    --carbonLight: #b5b6b8;
    --teal: #007395;
    --tealLight: #99c7d5;
    --mustard: #f5c318;
    --kiwi: #c1d841;
    --mint: #9acb96;
    --plum: #a5004c;
    --textColor: #fff;
}

.App {
    display: grid;
    height: 100vh;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.Navbar { grid-area: 1 / 1 / 2 / 6; }
.DynamicContent { grid-area: 2 / 1 / 6 / 6; }